<form (ngSubmit)="onSave(form)" #form="ngForm" id="dataForm">

    <div class="card no-border-shadow">

        <div class="card-body">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <label for="nameTxt">Nombre</label>
                    <input id="nameTxt" name="name" ngModel maxlength="50" type="text" class="form-control"
                        [(ngModel)]="bankingAdvisor.name" required>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <label for="specialtyTxt">Especialidad</label>
                    <input id="specialtyTxt" name="specialty" type="text" maxlength="50" class="form-control" [(ngModel)]="bankingAdvisor.specialty"
                        required>
                </div>
            </div>
            
        </div>
        <div class="card-footer text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="submit" *ngIf="!isEditing" class="btn btn-lg btn-primary pull-right">
                        <i class="fas fa-save" aria-hidden="true"></i> Guardar
                    </button>

                    <button type="submit" *ngIf="isEditing" class="btn btn-lg btn-primary pull-right">
                        <i class="fas fa-save" aria-hidden="true"></i> Actualizar
                    </button>
                </div>
            </div>

        </div>
        <div [ngClass]="{'alert-success':mostrarMensajeOk,'alert-danger':mostrarMensajeError}" class="alert " *ngIf="mostrarMensajeError || mostrarMensajeOk">
            <strong>{{mensajeResultado}}</strong>
        </div>
    </div>
</form>